{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
PlanApp - Home
{% endblock titulo %}
{% block contenido %}

    {% if user.is_authenticated %}
        {{ mensaje }}
        <p class="fs-2">Bienvenido {{ user.username }}</p>
    {% endif %}
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-4">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                 src="{% static 'core/img/productividad.png' %}"
                 alt="..." />
        </div>
        <div class="col-lg-8">
            <h1 class="font-weight-light">PlanApp</h1>
            <p>
                PlanApp es una aplicación web diseñada para optimizar la gestión de proyectos y tareas.
            </p>
            <p>
                Permite crear, organizar y asignar tareas, facilitando la colaboración en equipo y el seguimiento del progreso.
            </p>
            <a class="btn btn-primary"
               href="{% url 'core:login' %}"
               target="_blank">Ingresar</a>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% if user.is_authenticated %}
        {% include 'core/components/card.html' with titulo="Proyectos" texto="Administra tu proyecto" link='planner:proyecto_list' %}
        {% include 'core/components/card.html' with titulo="Tareas" texto="Administra tus tareas" link='planner:tarea_list' %}
        {% endif %}
    </div>
    <!-- Call to Action-->
    {% include 'core/components/calltoaction.html' %}
{% endblock contenido %}
